<div class="card" style="width: 20rem;">
  <img class="card-img-top" src="<%= @vlog.nicolas_avatar %>" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title"> <%= @vlog.title %></h4>
    <p class="card-text"><%= @vlog.description %></p>
    <p class="card-text"><%= @vlog.youtube_link %></p>
    <a href="#" class="btn btn-primary">Rating</a>
  </div>
</div>
