<h1>Editing Portfolio</h1>

<%= render 'form', portfolio: @portfolio %>

<% if current_user.role == 'admin' %>
  <%= link_to fa_icon('eye'), portfolio_path(@portfolio) %>
  <%= link_to fa_icon('arrow-left'), portfolios_path %>
<% end %>


