<h1>Portfolios</h1>
<% if current_user.role == 'admin' %>
<%= link_to 'New Portfolio', new_portfolio_path %>
<% end %>

<% @portfolios.each do |portfolio| %>
  <%= render 'portfolio', portfolio: portfolio %>
<% end %>
 

<br>


