@import "base/_variables";
@import "base/_global";

@media screen and (min-width: 500px){

.carousel-container {
  margin-right: 0;
}

.carousel-item {
  height: 450px;
}

.pagination-sm-md-lg {
  display: hidden;
}

.pagination-xs {
  display: visible;
}


}

/* Responsive for iPad*/

@media screen and (min-width: 768px){

.large-window {
  height: 500px;
  width: 500px;
}

.pagination-iPad-and-above {
  display: visible;
}

.pagination-xs {
  display: none;
}

#card-lists{
  .card {
    width: 31%;
  }
  &:nth-child(3n + 1){
    margin-left: 0;
  }
}



}

/* Responsive for Desktop*/
@media screen and (min-width: 1024px){


  #card-lists{
    .card {
      width: 19.7368%;
    }
    &:nth-child(4n + 1){
      margin-left: 0;
    }
  }


}
