<div class="wrapper">
  <h1 class="contact-title">
    <button type="button" class="envelope-modal" data-toggle="modal" data-target="#myModal">
    </button>
  </h1>
  <%= image_tag('contact-background.png', class: 'melbourne-contact img-fluid') %>

  <!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
     <form action="https://formspree.io/cjpillette@gmail.com" method="POST">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            <input type="email" name="_replyto" placeholder="Email" required />
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </form>
      <div class="modal-body">
      <textarea style="width: 100%;" type="text" name="name" placeholder="Message" rows="8"></textarea>
      </div>
      <div class="modal-footer">
        <input class="btn btn-outline-danger" type="submit" value="Send">
      </div>
    </div>
  </div>
</div>
