@import "base/_variables";
@import "base/_responsive";
@import "base/_global";



.carousel-content {
  position: absolute;
  width: 100%;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
  background-color: white;
  color: black;
}

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    max-width: 10px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: $main-grey;
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);
}
.carousel-indicators .active {
    width: 10px;
    height: 10px;
    background-color: $main-red;
}

.carousel-item {
  height: 220px;
  background-color: $light-grey;
}

.carousel-item img {
  height: 100%;
  margin: auto;
  text-align: center;
}

.carousel-item p {
  text-align: center;
}
