@import "base/_variables";
@import "base/_responsive";
@import "base/_global";

.update-portfolio-button {
  color: white;
  text-align: center;
}

.commands {
  margin-top: 10px;
  margin-bottom: 10px;
}

.title-padding-top {
  padding-top: 10px;
}
