// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

/* contact */

.contact-container {
  margin: auto;
  background-color: grey;
  position: relative;
  display: block;
  overflow: hidden;
}

.melbourne-wrapper {
  position: relative;
  height: 300px;
  overflow: visible;
}

.email-box {
  height: 28px;
  width: 295px;
  margin: auto;
  margin-bottom: 0.625rem;
}

.message-box {
  height: 105px;
  text-align: top;
  overflow: auto;
  width: 295px;
  margin: auto;
  margin-bottom: 0.625rem;
}

#melbourne-background {
  position: absolute;
  height: 300px;
  width: 100%;
  background-image: url("Melbourne-skyline2x.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: top center;
  background-size: contain;
  z-index: 1;
  top: -35%;
}

#melbourne-foreground {
  height: 300px;
  width: 100%;
  position: absolute;
  background-image: url("melbourne-foreground-solid2x.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  z-index: 2;
  top: 23%;
}

#tram {
  height: 113px;
  width: 150px;
  position: absolute;
  background-image: url("tram2x.png");
  background-size: 30% 30%;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  z-index: 3;
  top: 58%;
  left: 18%;
}

#ferris-wheel {
  height: 320px;
  width: 320px;
  position: absolute;
  background-image: url("ferris3.gif");
  background-size: 55% 55%;
  background-repeat: no-repeat;
  background-position: left top;
  position: absolute;
  z-index: 0;
  left:0%;
  top: 0%;
}

.send-button {
  color: black;
  font: 'Hiragino Sans', sans-serif;
  font-weight: 500;
  height: 23px;
  width: 295px;
  margin: auto;
  margin-bottom: 0;
}

/* hero */

.hero-box {
  position: relative;
  height: 600px;
  width: auto;
  background-color: grey;
  background-attachment: fixed;
  overflow: hidden;
}

.hero-description {
  width: auto;
  margin: auto;
  position: relative;
  display: block;
  top: 65%;
  margin-top: -3.125rem;
  overflow: hidden;
}

.hero-my-name {
  padding-top: 0.625rem;
  padding-bottom: 1.25rem;
  letter-spacing: 0.5rem;
  text-align: center;
  font-weight: 100;
  font-size: 1.4rem;
  font-family: 'Hiragino Sans', sans-serif;
  font-weight: 300;
}

.hero-description-title {
  font-size: 1.4rem;
  line-height: 90%;
  text-align: center;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
}

.hero-description-icons{
  width: 100%;
  display: inline-block;
  text-align: center;
  position: absolute;
  bottom: 10%;
  left: 0;
}

.developer-drawing {
  width: 14.0625rem;
  height: 10.1875rem;
  background-image: url('developer2x.png');
  background-repeat: no-repeat;
  background-size: 60% 60%;
  background-position: right bottom;
  position: absolute;
  right: 7%;
  top: 56%;
  opacity: 0;
  transition: all 0.3s linear;
}

.engineer-drawing {
  width: 16.6875rem;
  height: 12.5rem;
  background-image: url('chemical-engineer2x.png');
  background-repeat: no-repeat;
  background-size: 80% 80%;
  position: absolute;
  left: 0%;
  top: 55%;
  opacity: 0;
  transition: all 0.3s linear;
}

.artist-drawing {
  width: 16.6875rem;
  height: 12.5rem;
  background-image: url('artist.png');
  background-repeat: no-repeat;
  background-size: 80% 80%;
  position: absolute;
  left: 38%;
  top: 45%;
  opacity: 0;
  transition: all 0.3s linear;
}

